@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Shared/CollapseSidebar.razor.rz.scp.css */
#collapseButton[b-wnoi559zzd] {
    width: fit-content;
    margin: 5px;
}


#sidebarHeader[b-wnoi559zzd] {
    border-right: 1.5px solid black;
    font-size: 1.5rem;
    /* background-color: red; */
    /* background-image: linear-gradient(180deg, rgb(235, 11, 11) 0%, #f9f3f3 70%); */
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: white;
}

#sidebarTitle[b-wnoi559zzd] {
    writing-mode: vertical-rl;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


#wrapper-collapsibleBar[b-wnoi559zzd] {
    max-width: 35%;
}

#wrapper-hiddenBar[b-wnoi559zzd] {
    background-color: #e9ecef;
    flex-direction: column;
    margin-bottom: 0;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 5px;
    padding-left: var(--bs-gutter-x,.75rem);;
    padding-right: var(--bs-gutter-x,.75rem);;
}

pre[b-wnoi559zzd], code[b-wnoi559zzd] {
    white-space: pre-line;
}
/* /Shared/CourseAccordian.razor.rz.scp.css */
#closingButton[b-dhfas3e4kg] {
    position: absolute;
    top: -20%;
    right: 92.5%;
    z-index: 5;
    object-fit: cover;
    border-radius: 50%;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

#custom-material-symbols[b-dhfas3e4kg] {
    font-size: 20px;
    position: relative;
    top: 2px;
    left: 0.5px;
}
/* /Shared/GuidedScheduleMain2.razor.rz.scp.css */
@font-face {
    font-family: 'SourceSansRegular';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SourceSansBold';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Semibold.ttf');
}

@font-face {
    font-family: 'SourceSansLight';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Light.ttf');
}


.table_container[b-830nn4z8tc] {
    padding-left: 40px;
    overflow: hidden;
}

.busy_block[b-830nn4z8tc] {
    display: block;
    position: absolute;
    text-align: center;
    background: black;
    opacity: 0.5;
}

.timetable table[b-830nn4z8tc] {
    table-layout: fixed;
    width: 100%;
}

    .timetable table tr.odd[b-830nn4z8tc], .timetable table tr.even[b-830nn4z8tc] {
        /* background colour */
        background-color: #f7f7f7;
    }

    .timetable table tr td[b-830nn4z8tc] {
        border-right: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        width: 12%;
        height: 18px;
        text-align: center;
        position: relative;
        box-sizing: border-box;
    }

    .timetable table tr.tall td[b-830nn4z8tc] {
        font-weight: bold;
        font-size: 11px;
        height: 22px;
        background-color: #495057;
        color: white;
    }

    .timetable table tr:first-child td[b-830nn4z8tc] {
        border-top: 1px solid #E0E0E0;
    }

    .timetable table tr td:first-child[b-830nn4z8tc] {
        border-left: 1px solid #E0E0E0;
        position: relative;
    }

    .timetable table tr.header td[b-830nn4z8tc] {
        border-top: none;
        border-left: none;
        border-right: none;
    }

        .timetable table tr.header td:first-child[b-830nn4z8tc] {
            border-radius: 4px 0px 0px 0px;
        }

        .timetable table tr.header td:last-child[b-830nn4z8tc] {
            border-radius: 0px 4px 0px 0px;
        }

.timetable tr.header td[b-830nn4z8tc] {
    font-size: 10px;
    background-color: #e0e0e0;
    white-space: nowrap;
    line-height: 1;
    padding: 5px;
}

.timetable tr.odd td[b-830nn4z8tc] {
    border-bottom-color: #c4c2c2;
}

.timetable tr.even td[b-830nn4z8tc] {
    border-bottom-color: #e6e6e6;
}

.timetable tr.noborder td[b-830nn4z8tc] {
    border-bottom-color: #FFFFFF;
}

.timetable .hour_marker[b-830nn4z8tc] {
    position: absolute;
    top: -6px;
    right: 18px;
    font-size: 80%;
    margin-top: -3px;
}

.timetable .min_marker[b-830nn4z8tc] {
    position: absolute;
    top: -5px;
    right: 2px;
    font-size: 10px;
    margin-top: -2px;
}

.timetable .left_fade[b-830nn4z8tc] {
    position: absolute;
    left: -41px;
    top: -1px;
    width: 40px;
    height: 80px;
    /*background-image:url('../images/grid_left.png');
                    background-position: top right;*/
}


html[b-830nn4z8tc] {
    overflow-y: scroll;
}

body[b-830nn4z8tc] {
    font-weight: normal;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    line-height: initial;
    height: 100%;
}

html[b-830nn4z8tc], body[b-830nn4z8tc], ul[b-830nn4z8tc], ol[b-830nn4z8tc] {
    font-size: 13px;
}


.time_block[b-830nn4z8tc] {
    position: absolute;
    text-align: center;
    padding-top: 0px;
    font-size: 10px;
    padding: 2px 4px;
    line-height: 90%;
    opacity: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    line-height: 1.1;
}

/* Found colors pastel colors here https://www.pinterest.ca/pin/720224165386723110/ */
.bc0[b-830nn4z8tc] {
    background-color: #eeeeee;
}

.seng300[b-830nn4z8tc] {
    background-color: #d9b283;
}

.asph305[b-830nn4z8tc] {
    background-color: #deec8a;
}

.cpsc449[b-830nn4z8tc] {
    background-color: #afddb9;
}

.cpsc481[b-830nn4z8tc] {
    background-color: #ffd29f;
}

.astr209[b-830nn4z8tc] {
    background-color: #fcb2b2;
}

.geog280[b-830nn4z8tc] {
    background-color: #7cebf7;
}

.cpsc399[b-830nn4z8tc] {
    background-color: #c688d6;
}

.bc5[b-830nn4z8tc] {
    background-color: #ffdfba;
    visibility: visible;
}

/* /Shared/GuidedScheduleMain3.razor.rz.scp.css */
@font-face {
    font-family: 'SourceSansRegular';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SourceSansBold';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Semibold.ttf');
}

@font-face {
    font-family: 'SourceSansLight';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Light.ttf');
}


.table_container[b-pqps4plgs7] {
    padding-left: 40px;
    overflow: hidden;
}

.busy_block[b-pqps4plgs7] {
    display: block;
    position: absolute;
    text-align: center;
    background: black;
    opacity: 0.5;
}

.timetable table[b-pqps4plgs7] {
    table-layout: fixed;
    width: 100%;
}

    .timetable table tr.odd[b-pqps4plgs7], .timetable table tr.even[b-pqps4plgs7] {
        /* background colour */
        background-color: #f7f7f7;
    }

    .timetable table tr td[b-pqps4plgs7] {
        border-right: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        width: 12%;
        height: 18px;
        text-align: center;
        position: relative;
        box-sizing: border-box;
    }

    .timetable table tr.tall td[b-pqps4plgs7] {
        font-weight: bold;
        font-size: 11px;
        height: 22px;
        background-color: #495057;
        color: white;
    }

    .timetable table tr:first-child td[b-pqps4plgs7] {
        border-top: 1px solid #E0E0E0;
    }

    .timetable table tr td:first-child[b-pqps4plgs7] {
        border-left: 1px solid #E0E0E0;
        position: relative;
    }

    .timetable table tr.header td[b-pqps4plgs7] {
        border-top: none;
        border-left: none;
        border-right: none;
    }

        .timetable table tr.header td:first-child[b-pqps4plgs7] {
            border-radius: 4px 0px 0px 0px;
        }

        .timetable table tr.header td:last-child[b-pqps4plgs7] {
            border-radius: 0px 4px 0px 0px;
        }

.timetable tr.header td[b-pqps4plgs7] {
    font-size: 10px;
    background-color: #e0e0e0;
    white-space: nowrap;
    line-height: 1;
    padding: 5px;
}

.timetable tr.odd td[b-pqps4plgs7] {
    border-bottom-color: #c4c2c2;
}

.timetable tr.even td[b-pqps4plgs7] {
    border-bottom-color: #e6e6e6;
}

.timetable tr.noborder td[b-pqps4plgs7] {
    border-bottom-color: #FFFFFF;
}

.timetable .hour_marker[b-pqps4plgs7] {
    position: absolute;
    top: -6px;
    right: 18px;
    font-size: 80%;
    margin-top: -3px;
}

.timetable .min_marker[b-pqps4plgs7] {
    position: absolute;
    top: -5px;
    right: 2px;
    font-size: 10px;
    margin-top: -2px;
}

.timetable .left_fade[b-pqps4plgs7] {
    position: absolute;
    left: -41px;
    top: -1px;
    width: 40px;
    height: 80px;
    /*background-image:url('../images/grid_left.png');
                    background-position: top right;*/
}


html[b-pqps4plgs7] {
    overflow-y: scroll;
}

body[b-pqps4plgs7] {
    font-weight: normal;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    line-height: initial;
    height: 100%;
}

html[b-pqps4plgs7], body[b-pqps4plgs7], ul[b-pqps4plgs7], ol[b-pqps4plgs7] {
    font-size: 13px;
}


.time_block[b-pqps4plgs7] {
    position: absolute;
    text-align: center;
    padding-top: 0px;
    font-size: 10px;
    padding: 2px 4px;
    line-height: 90%;
    opacity: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    line-height: 1.1;
}

/* Found colors pastel colors here https://www.pinterest.ca/pin/720224165386723110/ */
.bc0[b-pqps4plgs7] {
    background-color: #eeeeee;
}

.seng300[b-pqps4plgs7] {
    background-color: #d9b283;
}

.asph305[b-pqps4plgs7] {
    background-color: #deec8a;
}

.cpsc449[b-pqps4plgs7] {
    background-color: #afddb9;
}

.cpsc481[b-pqps4plgs7] {
    background-color: #ffd29f;
}

.astr209[b-pqps4plgs7] {
    background-color: #fcb2b2;
}

.geog280[b-pqps4plgs7] {
    background-color: #7cebf7;
}

.cpsc399[b-pqps4plgs7] {
    background-color: #c688d6;
}

.bc5[b-pqps4plgs7] {
    background-color: #ffdfba;
    visibility: visible;
}
/* /Shared/HeaderBar.razor.rz.scp.css */
.flex-display[b-9ig4akoi0u] {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-horizontal[b-9ig4akoi0u]{
    display:inline;
    float:left;
}

.navbar-toggler[b-9ig4akoi0u] {
    background-color: #e9ecef;
}


.top-row[b-9ig4akoi0u] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9ig4akoi0u] {
    font-size: 1.1rem;
}

body[b-9ig4akoi0u] {
    padding-right:0px !important;
}

.enrollment-date-text[b-9ig4akoi0u]{
    color: lightgrey;
    font-size: 0.85rem;
    text-decoration: none;
    white-space: nowrap;
}

.oi[b-9ig4akoi0u] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9ig4akoi0u] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9ig4akoi0u] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9ig4akoi0u] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9ig4akoi0u]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-9ig4akoi0u]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-9ig4akoi0u]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-9ig4akoi0u] {
        display: none;
    }

    .collapse[b-9ig4akoi0u] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-pch2e843s7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-pch2e843s7] {
    flex: 1;
}

.header-custom[b-pch2e843s7] {
    height: 10vh;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --bs-bg-opacity: 1;
    background-image: linear-gradient(270deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    border-bottom: 1.5px solid black;
}

/* testing only. DELETE LATER*/
.testBox[b-pch2e843s7] {
    background-color: #e9ecef;
    font-size: 1.5rem;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
}


.sidebar[b-pch2e843s7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-pch2e843s7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pch2e843s7]  a, .top-row[b-pch2e843s7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-pch2e843s7]  a:hover, .top-row[b-pch2e843s7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-pch2e843s7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-pch2e843s7] {
        display: none;
    }

    .top-row.auth[b-pch2e843s7] {
        justify-content: space-between;
    }

    .top-row[b-pch2e843s7]  a, .top-row[b-pch2e843s7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pch2e843s7] {
        flex-direction: row;
    }

    .top-row[b-pch2e843s7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-pch2e843s7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-pch2e843s7], article[b-pch2e843s7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-vtr4xxy9k8] {
    background-color: #e9ecef;
}


.top-row[b-vtr4xxy9k8] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-vtr4xxy9k8] {
    font-size: 1.1rem;
}

.oi[b-vtr4xxy9k8] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-vtr4xxy9k8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-vtr4xxy9k8] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-vtr4xxy9k8] {
        padding-bottom: 1rem;
    }

    .nav-item[b-vtr4xxy9k8]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-vtr4xxy9k8]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-vtr4xxy9k8]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-vtr4xxy9k8] {
        display: none;
    }

    .collapse[b-vtr4xxy9k8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/RecommendedSidebar.razor.rz.scp.css */
pre[b-2644iip7qf], code[b-2644iip7qf] {
    white-space: pre-line;
}
/* /Shared/ScheduleMain.razor.rz.scp.css */
@font-face {
    font-family: 'SourceSansRegular';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SourceSansBold';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Semibold.ttf');
}

@font-face {
    font-family: 'SourceSansLight';
    src: url('../Fonts/SourceSansPro/SourceSansPro-Light.ttf');
}


.table_container[b-gw9nzmsa81] {
    padding-left: 40px;
    overflow: hidden;
}

.busy_block[b-gw9nzmsa81] {
    display: block;
    position: absolute;
    text-align: center;
    background: black;
    opacity: 0.5;
}

.timetable table[b-gw9nzmsa81] {
    table-layout: fixed;
    width: 100%;
}

    .timetable table tr.odd[b-gw9nzmsa81], .timetable table tr.even[b-gw9nzmsa81] {
        /* background colour */
        background-color: #f7f7f7;
    }

    .timetable table tr td[b-gw9nzmsa81] {
        border-right: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        width: 12%;
        height: 18px;
        text-align: center;
        position: relative;
        box-sizing: border-box;
    }

    .timetable table tr.tall td[b-gw9nzmsa81] {
        font-weight: bold;
        font-size: 11px;
        height: 22px;
        background-color: #495057;
        color: white;
    }

    .timetable table tr:first-child td[b-gw9nzmsa81] {
        border-top: 1px solid #E0E0E0;
    }

    .timetable table tr td:first-child[b-gw9nzmsa81] {
        border-left: 1px solid #E0E0E0;
        position: relative;
    }

    .timetable table tr.header td[b-gw9nzmsa81] {
        border-top: none;
        border-left: none;
        border-right: none;
    }

        .timetable table tr.header td:first-child[b-gw9nzmsa81] {
            border-radius: 4px 0px 0px 0px;
        }

        .timetable table tr.header td:last-child[b-gw9nzmsa81] {
            border-radius: 0px 4px 0px 0px;
        }

.timetable tr.header td[b-gw9nzmsa81] {
    font-size: 10px;
    background-color: #e0e0e0;
    white-space: nowrap;
    line-height: 1;
    padding: 5px;
}

.timetable tr.odd td[b-gw9nzmsa81] {
    border-bottom-color: #c4c2c2;
}

.timetable tr.even td[b-gw9nzmsa81] {
    border-bottom-color: #e6e6e6;
}

.timetable tr.noborder td[b-gw9nzmsa81] {
    border-bottom-color: #FFFFFF;
}

.timetable .hour_marker[b-gw9nzmsa81] {
    position: absolute;
    top: -6px;
    right: 18px;
    font-size: 80%;
    margin-top: -3px;
}

.timetable .min_marker[b-gw9nzmsa81] {
    position: absolute;
    top: -5px;
    right: 2px;
    font-size: 10px;
    margin-top: -2px;
}

.timetable .left_fade[b-gw9nzmsa81] {
    position: absolute;
    left: -41px;
    top: -1px;
    width: 40px;
    height: 80px;
    /*background-image:url('../images/grid_left.png');
                    background-position: top right;*/
}


html[b-gw9nzmsa81] {
    overflow-y: scroll;
}

body[b-gw9nzmsa81] {
    font-weight: normal;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    line-height: initial;
    height: 100%;
}

html[b-gw9nzmsa81], body[b-gw9nzmsa81], ul[b-gw9nzmsa81], ol[b-gw9nzmsa81] {
    font-size: 13px;
}


.time_block[b-gw9nzmsa81] {
    position: absolute;
    text-align: center;
    padding-top: 0px;
    font-size: 10px;
    padding: 2px 4px;
    line-height: 90%;
    opacity: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    line-height: 1.1;
}

/* Found colors pastel colors here https://www.pinterest.ca/pin/720224165386723110/ */
.bc0[b-gw9nzmsa81] {
    background-color: #eeeeee;
}

.seng300[b-gw9nzmsa81] {
    background-color: #d9b283;
}

.asph305[b-gw9nzmsa81] {
    background-color: #deec8a;
}

.cpsc449[b-gw9nzmsa81] {
    background-color: #afddb9;
}

.cpsc481[b-gw9nzmsa81] {
    background-color: #ffd29f;
}

.astr209[b-gw9nzmsa81] {
    background-color: #fcb2b2;
}

.geog280[b-gw9nzmsa81] {
    background-color: #7cebf7;
}

.cpsc399[b-gw9nzmsa81] {
    background-color: #c688d6;
}

.bc5[b-gw9nzmsa81] {
    background-color: #ffdfba;
    visibility: visible;
}
