@page "/advanced"

<!-- Container below the header bar -->
<div class="d-flex">
    <SearchSidebar />

    <div style="flex: 1;">
        <ScheduleMain />
    </div>

    <CollapseSidebar />
</div>

@code {

}
