@page "/"

<!-- Container below the header bar -->
<!--<div class="d-flex">
    <HomePage />
</div>-->

<!-- Container below the header bar -->
<div class="d-flex">
    <HomePage />
</div>

@code {

}

@code {

}
